.App {
  position: relative;
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font: 800 2.6rem Inter;
  text-shadow: 2px 2px 4px #000;
  margin: 20px;
}

.list-book {
  height: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.tasks-container {
  background: #DC143C;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px 6px 0 0;
}

.done-container {
  background: #d2691e;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 6px 6px;

}

.title-block {
  width: 500px;
  height: 25px;
  padding: 5px 10px;
  background: #fff;
  margin: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.title-block button {
  background: #483D8B;
  color: #fff;
  font: 600 1.1rem Inter;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.title-block button:hover {
  background: #483D8B;
}

.tasks-block {
  width: 500px;
  height: 320px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-block h2 {
  font: 800 1.5rem Inter;
  margin: 0;
}

.task-card {
  width: 96%;
  height: 40px;
  background: #191970;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 5px 10px;
  margin: 6px;
}
.task-card h3 {
  margin: 0;
  font: 600 1.4rem Inter;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.check-box {
  width: 30px;
  height: 30px;
}

.trash-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.task-modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 300px;
  z-index: 99999;
  width: 600px;
  height: 400px;
  background: #4169E1;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.task-modal h3 {
  font: 800 2rem Inter;
}

.task-modal input {
  width: 300px;
  height: 36px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  font: 500 1.1rem Inter;

}

.task-modal button {
  font: 600 1.2rem Inter;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  margin: 20px auto;
  cursor: pointer;
}

footer p {
  font: 500 0.9rem Inter;
  color: #fff;
}